<h1>Calculate the square root of a number</h1>

<form action="/square_root/results">
  <div>
    <label for="bob">Enter a number</label>

    <input id="bob" type="text" name="users_number">
  </div>
  <button>Calculate square root</button>
</form>
