
<form action="/random/results">
  <div>
    <label for="joe">Minimum</label>

    <input id="joe" type="text" name="users_min" placeholder="E.g. 1.5">

    <label for="mike">Maximum</label>

    <input id="mike" type="text" name="users_max" placeholder="E.g. 4.5">
  </div>
  <button>Pick random number</button>
</form>
