
<form action="/payment/results">
  <div>
    <label for="jack">APR</label>

    <input id="jack" type="text" name="users_apr" placeholder="E.g. 5.42">

    <label for="mary">Number of years</label>

    <input id="mary" type="text" name="users_years" placeholder="How many years?">

    <label for="jill">Principal</label>

    <input id="jill" type="text" name="users_principal" placeholder="How much principal?">
  </div>
  <button>Calculate monthly payment</button>
</form>
