<h1>Payment Results</h1>

<dl>
  <dt>
    APR
  </dt>
  <dd>
    <%= @final_apr %>
  </dd>
  <dt>
    Number of years
  </dt>
  <dd>
    <%= params.fetch("users_years") %>
  </dd>
  <dt>
    Principal
  </dt>
  <dd>
    <%= @final_principal %>
  </dd>
  <dt>
    Payment
  </dt>
  <dd>
    <%= @the_result %>
  </dd>
</dl>

<a href="/payment/new">
  Calculate another payement
</a>
